{% extends 'vistaGlobal.html' %}

{% block titulo %}
    Aplicación
{% endblock %}

{% block contenidoPagina %}
    <div id="content-controles">	
        <span class="flotador" id="renglon2">&nbsp</span>	
        <h2> Controles </h2>	
        <span class="flotador" id="renglon3">&nbsp</span>	

        <span class="flotador" id="separadorControlUno">&nbsp</span>

        <div class="padre flotador textosControles" id="textoControl-par">
            <h4 class="hijo">Parametro:</h4>
        </div>
        <select class="flotador control" name="select">
            <option value="value1">Tipo de Cáncer</option>
            <option value="value2" selected>Categoría de Empleo</option>
            <option value="value3">Nivel Académico</option>
        </select>

        <span class="flotador" id="separadorControles">&nbsp</span>

        <div class="limpiador"></div>
    </div>

    <div id="content-dash">
        <img id="imgPais" src="https://previews.123rf.com/images/carenas1/carenas11006/carenas1100600086/7215889-hay-un-mapa-del-pa%C3%ADs-de-m%C3%A9xico.jpg">
    </div>

    <!-- CONTENEDOR DEL RESULTADO DE LA CONSULTA -->
    <div id="contendorGrafico">
        <h1> Resultado de la Busqueda </h1>

        <img id="imgGrafico" src="https://w7.pngwing.com/pngs/824/578/png-transparent-histogram-diagram-chart-statistics-data-histogram-blue-angle-text-thumbnail.png">
    </div>
{% endblock %}