{% extends 'vistaGlobal.html' %}

{% block titulo %}
    Características
{% endblock %}

{% block contenidoPagina %}
    <div id="content-caracteristicas">
        <p class="parrafo"> 
            A continuación, se muestran los mapas de calor que representan el porcentaje promedio de cada categoría de parámetro y de cada tipo de cáncer, dentro de cada grupo.
        </p>

        <!-- Mapas de calor sobre el Nivel educativo  -->
        <h3 class="title-mapCalor"> 
            Mapas de calor sobre las características de cada grupo en el parámetro Nivel Académico y cáncer
        </h3>
        
        <img class="mapCalorEdu" src="{{ url_for('static', filename='img/mapCalorEduGrupos.png') }}"/>
        <img class="mapCalorEdu" src="{{ url_for('static', filename='img/mapCalorEduCanGrupos.png') }}"/>

        <!-- Mapas de calor sobre la categoria de empleo  -->
        <h3 class="title-mapCalor"> 
            Mapas de calor sobre las características de cada grupo en el parámetro Categoría de Empleo y cáncer
        </h3>
        
        <img class="mapCalorEmp" src="{{ url_for('static', filename='img/mapCalorEmpGrupos.png') }}"/>
        <img class="mapCalorEmp" src="{{ url_for('static', filename='img/mapCalorEmpCanGrupos.png') }}"/>

        <!-- Grupos de Nivel educativo  -->
        <h3 class="title-caracteristicas"> Características de los grupos en el parámetro Nivel Académico y cáncer </h3>
                   
        {% for i in range(1, 11, 1) %} 
            <div class="title-Grupos">Grupo {{i}}: {{nombresXgrupoEdu[i - 1]}}</div>
            <img class="grafCaractGrupos" src="{{ url_for('static', filename='img/eduGrupo' ~ i ~ '.png') }}"/>             
            <img class="grafCaractGrupos" src="{{ url_for('static', filename='img/eduCanGrupo' ~ i ~ '.png') }}"/> 
        {% endfor %}
        
        <!-- Grupos de Categoria de Empleo  -->
        <h3 class="title-caracteristicas"> Características de los grupos en el parámetro Categoría de Empleo y cáncer</h3>
                   
        {% for i in range(1, 14, 1) %} 
        <div class="title-Grupos">Grupo {{i}}: {{nombresXgrupoEmp[i - 1]}}</div>
            <img class="grafCaractGrupos" src="{{ url_for('static', filename='img/empGrupo' ~ i ~ '.png') }}"/>             
            <img class="grafCaractGrupos" src="{{ url_for('static', filename='img/empCanGrupo' ~ i ~ '.png') }}"/> 
        {% endfor %}

    </div>
{% endblock %}