{% extends 'vistaGlobal.html' %}

{% block contenidoPagina %}
    <div id="content-downloads">
        <span class="flotador" id="margin-top-download">&nbsp</span>

        <!--  Original  -->
        <span class="flotador margin-left-download">&nbsp</span>
        <span class="flotador textosDescarga"> Conjunto de datos original </span>
        <span class="flotador margin-between-download">&nbsp</span>
        <button class="flotador color btnDescarga" id="desc-original"> Download </button>
        <span class="flotador sepTextoBtn">&nbsp</span>

        <!--  2010  -->
        <span class="flotador margin-left-download">&nbsp</span>
        <span class="flotador textosDescarga"> Conjunto de datos 2010 </span>
        <span class="flotador margin-between-download">&nbsp</span>
        <button class="flotador color btnDescarga" id="desc-2010"> Download </button>
        <span class="flotador sepTextoBtn">&nbsp</span>

        <!--  2011  -->
        <span class="flotador margin-left-download">&nbsp</span>
        <span class="flotador textosDescarga"> Conjunto de datos 2011 </span>
        <span class="flotador margin-between-download">&nbsp</span>
        <button class="flotador color btnDescarga" id="desc-2011"> Download </button>

        <div class="limpiador"></div>
    </div>
{% endblock %}