{% extends 'vistaGlobal.html' %}

{% block titulo %}
    Correlacion
{% endblock %}

{% block contenidoPagina %}
    <div id="content-correlacion">
        <p> 
            A continuación, se mostrarán las graficas de barra donde se observan las características que tienen 
            en común cada grupo de los dos diferentes parámetros.
        </p>

        <!-- Mapa de calor de Nivel educativo y cancer -->
        <h3 class="title-mapaCalor"> Mapa de calor de los coeficientes de correlacion Nivel educativo </h3>
                   
        <img class="grafCaractGrupos" src="{{ url_for('static', filename='img/eduGrupo' ~ i ~ '.png') }}"/>             

    </div>
{% endblock %}