{% extends 'vistaGlobal.html' %}

{% block titulo %}
    Correlación
{% endblock %}

{% block contenidoPagina %}
    <div id="content-correlacion">
        <p class="parrafo"> 
            A continuación, se muestran los mapas de calor para los parámetros 'Nivel escolar y cáncer' y 'categoría de empleo y cáncer'.
        </p>

        <!-- Mapa de calor de Nivel educativo y cancer -->
        <h3 class="title-mapaCalor"> 
            Coeficientes de correlación entre los niveles educativos con los tipos de cáncer
        </h3>
        <img class="mapaCalor" src="{{ url_for('static', filename='img/correlacionEduCan.png') }}"/>  
        
        <!-- Mapa de calor de categoria de empleo y cancer -->
        <h3 class="title-mapaCalor"> 
            Coeficientes de correlación entre las categorías de empleo con los tipos de cáncer
        </h3>
        <img class="mapaCalor" src="{{ url_for('static', filename='img/correlacionEmpCan.png') }}"/>  

    </div>
{% endblock %}