{% extends 'vistaGlobal.html' %}

{% block titulo %}
    Inicio
{% endblock %}

{% block contenidoPagina %}
    <div id="content-inicio">
        <h2 class="letra titles"> - Información - </h2>

        <p class="letra sermones">    
            Esta aplicación web muestra los distintos tipos de cáncer, los diversos niveles académicos con algún tipo de cáncer y las diversas categorías de empleo con algún tipo de cáncer presentes en México durante los años 2010 a 2019. Permite visualizar la cantidad total de personas con cáncer, la cantidad de personas con cada tipo de cáncer, la cantidad de personas con algún tipo de cáncer según su nivel académico y la cantidad de personas con algún tipo de cáncer según su categoría de empleo en cada entidad federativa.
        </p>

        <p class="letra sermones">         
            Estas cifras se dividen entre el número total de personas con cáncer que hay en su respectivo estado, de este modo se tienen cifras que representan qué porcentaje de la población es impactada por determinado tipo de cáncer. Las entidades federativas que conforman al país están agrupadas de acuerdo a estas cifras porcentuales. Aquellos estados que pertenecen a un mismo grupo están pintados del mismo color en un mapa. De esta manera, se pueden observar los grupos de estados que tienen tasas similares de personas por cada tipo de cáncer, tasas similares de personas con algún tipo de cáncer por cada nivel académico y tasas similares de personas con algún tipo de cáncer por cada categoría de empleo.
        </p>

        <p class="letra sermones">           
            A continuación, se describirá lo que se encuentra en cada apartado de la aplicación web.
        </p>

        <h3 class="letra subtitle"> Inicio</h3>
        <p class="letra sermones">    
            En este apartado se ofrece una breve explicación sobre el contenido de cada sección de la página web, así como una guía sobre los pasos a seguir para interactuar con la aplicación.
        </p>
        
        <h3 class="letra subtitle"> Correlación de los datos </h3>
        <p class="letra sermones">
            En esta sección encontrarás dos mapas de calor. Un mapa representa los coeficientes de correlación entre las variables relacionadas con el nivel escolar de una persona con algún tipo de cáncer y variables relacionadas con el tipo de cáncer de una persona. El otro mapa representa los coeficientes de correlación entre variables relacionadas con la categoría de empleo de una persona con algún tipo de cáncer y variables relacionadas con el tipo de cáncer de una persona. Se utilizaron todos los datos de todas las entidades federativas que conforman el país de México y para calcularlas se utilizó la fórmula de correlación de Pearson.
        </p>

        <h3 class="letra subtitle"> Características de los grupos </h3>
        <p class="letra sermones">
            En esta página encontrarás mapas de calor que representan el porcentaje promedio de cada categoría de empleo y cada tipo de cáncer dentro de cada grupo. También encontrarás mapas de calor que representan el porcentaje promedio de cada nivel educativo y cada tipo de cáncer dentro de cada grupo. Con esta información se puede comparar las características entre los diferentes grupos.

            Además, se incluyen gráficas de barras que muestran las características de cada grupo, tanto en términos de categoría de empleo con cáncer como de nivel educativo con cáncer.
        </p>

        <h3 class="letra subtitle"> Aplicación </h3>
        <p class="letra sermones">
            En este apartado se encuentra la funcionalidad de la aplicación. El usuario deberá seleccionar uno de los dos parámetros disponibles: "Nivel educativo y cáncer" o "Categoría de empleo y cáncer". Luego, deberá seleccionar en el selector desplegable alguna de las entidades federativas que se muestran en el mapa interactivo. A partir de estas acciones, se desplegarán diversos gráficos que permitirán al usuario visualizar la información de interés. El usuario podrá consultar la información con el parámetro y la entidad federativa que desee, las veces que así lo requiera.
        </p>
    </div>
{% endblock %}