{% extends 'vistaGlobal.html' %}

{% block titulo %}
    Inicio
{% endblock %}

{% block contenidoPagina %}
    <div id="content-inicio">
        <h2> - Informacion - </h2>

        <p class="sermon">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi reprehenderit debitis, nulla placeat incidunt facere nostrum esse tenetur! Velit nostrum dignissimos qui delectus pariatur illum natus nobis asperiores deserunt id.
        </p>
        <br>
        <br>
        
        <h2> - Manual de usuario - </h2>
        
        <span class="subtitulos"> Inicio </span>
        <p class="sermon">
            En este apartado se encuentra una breve explicacion sobre que se 
            muestra en cada apartado asi como los pasos a realizar para interactuar
            con la aplicación.
        </p>
        <br>

        <span class="subtitulos"> Aplicación </span>
        <p class="sermon">
            En este apartado se encuentra la funcionalidad de la aplicacion.
            El usuario debera seleccionar uno de los tres siguientes valores como
            parametro: 'Tipo de cancer', 'Nivel educacional' y 'Categoría de 
            empleo' posteriormente dar click sobre una entidad federativa en el mapa
            interactivo y visualizar la informacion que se genera en la grafica de 
            barras. <br>
            El usuario podra consultar la informacion con el parametro y entidad federativa 
            que desee las veces que asi lo requiera. 
        </p>
        <br>
    </div>
{% endblock %}