{% extends 'vistaGlobal.html' %}

{% block titulo %}
    Inicio
{% endblock %}

{% block contenidoPagina %}
    <div id="content-inicio">
        <h2 class="letra titles"> - Información - </h2>

        
        <h3 class="letra subtitle"> Inicio</h3>
        <p class="letra sermones">    
            En este apartado se ofrece una breve explicación sobre el contenido de cada sección de la página web, 
            así como una guía sobre los pasos a seguir para interactuar con la aplicación. Además, se incluyen 
            graficas de barra que muestran las características comunes de los elementos pertenecientes a un mismo 
            grupo, tanto para el parámetro de categoría de ocupación como para el parámetro de nivel educativo.
        </p>
        
        
        <h3 class="letra subtitle"> Correlación de los datos </h3>
        <p class="letra sermones">
            En esta sección encontrarás dos mapas de calor. Un mapa representa los 
            coeficientes de correlación de variables relacionadas con el nivel escolar de una persona con algún 
            tipo de cáncer, en comparación con variables relacionadas con el tipo de cáncer de una persona,
            mientras que, el otro mapa representa los coeficientes de correlación de variables relacionadas 
            con la categoría de empleo de una persona con algún tipo de cáncer, en comparación con variables 
            relacionadas con el tipo de cáncer de una persona.
            Estas cifras fueron recopiladas de todas las entidades federativas que conforman el país de 
            México y, para calcularlas, se utilizó la fórmula de correlación de Pearson.
        </p>

        <h3 class="letra subtitle"> Caracteristicas de los grupos </h3>
        <p class="letra sermones">
            En esta sección encontraras graficas de barra que representan el pocentaje promedio que tienen en comun
            todas las entidades federativas que pertenencen a un grupo en cada uno de los dos parametros. 
        </p>

        <h3 class="letra subtitle"> Aplicación </h3>
        <p class="letra sermones">
            En este apartado se encuentra la funcionalidad de la aplicación. El usuario deberá seleccionar uno de 
            los dos parámetros disponibles: "Nivel educativo" o "Categoría de empleo". Luego, deberá seleccionar 
            alguna entidad federativa de los que se muestran en el mapa interactivo. A partir de estas acciones, 
            se desplegarán diversos gráficos que permitirán al usuario visualizar la información. El usuario 
            podrá consultar la información con el parámetro y la entidad federativa que desee, las veces que así 
            lo requiera.
        </p>
    </div>
{% endblock %}