*{
	margin: 0px;
	padding: 0px;
}

/* CONTENEDOR DE LOS CONTROLES */
#content-controles{
	border: solid red 2px;
	margin-top: 4px;
}

/* Para que multiples elementos floten */
.flotador{
	float: left;
}

/* estilos de los 2 controles */
.textosControles{
	height: 48px;
}

/* estilos de los 2 selectores */
.control{
	height: 29px;
	width: 21%;
}

/* espacio entre un texto con control y otro */
#separadorControles{
	width: 229px;
}

/* Espacio entre el lado izq y el primer texto con control */
#separadorControlUno{
	width: 45px;
}

/* Espacio entre el texto 'parametro' y su respectivo selector */
#textoControl-par{
	width: 100px;
}

/* Espacio entre el texto 'grupo' y su respectivo selector */
#textoControl-grup{
	width: 73px;
}

/*  */
.limpiador{
	clear: left;
}





#imgPais{
	display: block;
	/* width: 80%;  */
	width: 40%;
	margin: 0 auto;
	margin-top: 20px;
}

#imgGrafico{
	display: block;
	/* width: 80%;  */
	width: 30%;
	margin: 0 auto;
	margin-top: 20px;
}



/* FONDO DE LA PAGINA WEB */
body{
	background: url("https://p1.pxfuel.com/preview/234/634/343/leaves-foliage-tree-spring-leaves.jpg");
	background-attachment: fixed;
	background-size: cover;
}

/* Eliminar flotado */
.clearfix{
	float: none;
	clear: both;
}

/* Contenedor de todo (titulo y formulario) */
#global{
	width: 65%;
	margin: 0px auto;
	margin-top: 30px;
	padding: 25px;
	background: white;
	box-shadow: 0px 0px 2px gray;
}

/* Titulo aplicaciones distribuidas */
#logo{
	font-family: Verdana, Arial;
	font-size: 20px;
	letter-spacing: 4px;
	line-height: 75px;
	color: white;
	text-align: center;
	width: 881px;
	height: 80px;
	margin-bottom: 20px;
	float: left;
	text-transform: uppercase;
}

/* Contenedor de formulario */
#content{
	margin: 0px auto;
	width: 66%;
	margin-top: 20px
}

/* titulo identificate e 2autenticacion */
.titulos{
	width: 36%;
	text-transform: uppercase;
	margin: 0 auto;
	margin-bottom: 20px;
	font-family: Helvetica, Arial;
	font-size: 30px;
	color:#333;
}

#centrado{
	width: 47%;
}

/* HEADER */
#arribaHeader {
    background-color: #235E3D;
    height: 100px;
    width: 100%;
}

#bajoHeader{
    height: 180px;
    width: 100%;
    /* background-color: #fff; */
}

#flexImgHeader {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 100%;
}

#imgHeaderPol {
    height: 110px;
    width: 410px;
}

#imgHeaderUpiita {
    height: 110px;
    width: 125px;
}

img {
    cursor: pointer;
}

/* Titulo principal */
#logo{
	font-family: Verdana, Arial;
	font-size: 28px;
	letter-spacing: 4px;
	line-height: 75px;
	color: white;
	text-align: center;
	width: 100%;
	height: 80px;
	margin-bottom: 20px;
	float: left;
	text-transform: uppercase;
}

/* Nav bar*/
#menu{
	font-family: Helvetica, Arial;
	background: #333;
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 20px;
}

/* La lista (en gral) del nav bar */
#menu ul{
	line-height: 46px;
	list-style: none;
}

/* Cada elemento de la lista */
#menu ul li{
	height: 46px;
	display: inline-block;
	transition: all 300ms;
}

/* Los enlaces de la lista */
#menu a{
	display: block;
	color:white;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
}




/* FOOTER */
footer {
	font-family: Helvetica, Arial;
	color:white;
	height: 47px;
	background: rgba(51, 51, 51, 0.70);
	margin:0px auto;
	width: 65%;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 50px;
	line-height: 47px;
}


/* ESTILOS PARA DARLE UN TEMA VERDE A LA PAGINA */

#logo{
	background: #235E3D;
}

#menu ul li:hover{
	background: #235E3D;
}

form input[type="submit"]{
	background: #235E3D;
}

#botonLogOut{
	background: #235E3D;
}